{% extends "layout.html" %}
{%block title%}Home Page{%endblock%}
{%block content%}
<div class="mainAbou">
    <div class="container">
        <h3>TestAbout</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, aspernatur. Possimus debitis incidunt omnis totam, 
        labore reiciendis sit, delectus repellendus fugit vero pariatur. Consectetur commodi itaque, dolor accusamus alias 
        blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, aspernatur. Possimus debitis incidunt omnis totam, 
        labore reiciendis sit, delectus repellendus fugit vero pariatur. Consectetur commodi itaque, dolor accusamus alias 
        blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, aspernatur. Possimus debitis incidunt omnis totam, 
        labore reiciendis sit, delectus repellendus fugit vero pariatur. Consectetur commodi itaque, dolor accusamus alias 
        blanditiis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, aspernatur. Possimus debitis incidunt omnis totam, 
            labore reiciendis sit, delectus repellendus fugit vero pariatur. Consectetur commodi itaque, dolor accusamus alias 
            blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, aspernatur. Possimus debitis incidunt omnis totam, 
            labore reiciendis sit, delectus repellendus fugit vero pariatur. Consectetur commodi itaque, dolor accusamus alias 
            blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, aspernatur. Possimus debitis incidunt omnis totam, 
            labore reiciendis sit, delectus repellendus fugit vero pariatur. Consectetur commodi itaque, dolor accusamus alias 
            blanditiis.</p>
    <h3>Lorem ipsum dolor</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, aspernatur. Possimus debitis incidunt omnis totam, 
        labore reiciendis sit, delectus repellendus fugit vero pariatur. Consectetur commodi itaque, dolor accusamus alias 
        blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, aspernatur. Possimus debitis incidunt omnis totam, 
        labore reiciendis sit, delectus repellendus fugit vero pariatur. Consectetur commodi itaque, dolor accusamus alias 
        blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, aspernatur. Possimus debitis incidunt omnis totam, 
        labore reiciendis sit, delectus repellendus fugit vero pariatur. Consectetur commodi itaque, dolor accusamus alias 
        blanditiis.</p>
    <h3>consectetur adipisicing</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, aspernatur. Possimus debitis incidunt omnis totam, 
        labore reiciendis sit, delectus repellendus fugit vero pariatur. Consectetur commodi itaque, dolor accusamus alias 
        blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, aspernatur. Possimus debitis incidunt omnis totam, 
        labore reiciendis sit, delectus repellendus fugit vero pariatur. Consectetur commodi itaque, dolor accusamus alias 
        blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, aspernatur. Possimus debitis incidunt omnis totam, 
        labore reiciendis sit, delectus repellendus fugit vero pariatur. Consectetur commodi itaque, dolor accusamus alias 
        blanditiis.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, aspernatur. Possimus debitis incidunt omnis totam, 
            labore reiciendis sit, delectus repellendus fugit vero pariatur. Consectetur commodi itaque, dolor accusamus alias 
            blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, aspernatur. Possimus debitis incidunt omnis totam, 
            labore reiciendis sit, delectus repellendus fugit vero pariatur. Consectetur commodi itaque, dolor accusamus alias 
            blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, aspernatur. Possimus debitis incidunt omnis totam, 
            labore reiciendis sit, delectus repellendus fugit vero pariatur. Consectetur commodi itaque, dolor accusamus alias 
            blanditiis.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, aspernatur. Possimus debitis incidunt omnis totam, 
                labore reiciendis sit, delectus repellendus fugit vero pariatur. Consectetur commodi itaque, dolor accusamus alias 
                blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, aspernatur. Possimus debitis incidunt omnis totam, 
                labore reiciendis sit, delectus repellendus fugit vero pariatur. Consectetur commodi itaque, dolor accusamus alias 
                blanditiis.Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, aspernatur. Possimus debitis incidunt omnis totam, 
                labore reiciendis sit, delectus repellendus fugit vero pariatur. Consectetur commodi itaque, dolor accusamus alias 
                blanditiis.</p>
    </div>
</div>


<!--footer-->
<section class="footer">
    <div class="container">
        <ul>
            <li><a href="https://www.minobrnauki.gov.ru/" target="_blank"><img src="{{ url_for('static', filename='images/logo2.png' ) }}">
                Министерство науки и высшего
                образования Российской Федерации
            </a></li>
            <li><a href="https://digital.gov.ru/ru/" target="_blank"><img src="{{ url_for('static', filename='images/logo1.png' ) }}" >
                МТУСИ является подведомственным
                вузом Федерального Агентства Связи
            </a></li>
        </ul>
        <p>&copy; Copyright ElieMbKayembe 2022</p>
    </div>
</section>
 <!--/footer-->
{%endblock%}>>