{% extends "layout.html" %}
{%block title%}Action{%endblock%}
{%block content%}

<section class="mainAct">
    <div class="main_Act">
        <div class="btn-nav">
            <button class="bntAc" onclick="toggleNav()">
                <i class="fa-solid fa-circle-chevron-down"></i>
            </button>     
        </div>
    </div>
    <div class="left_part">
        <img src="{{ url_for('static', filename='images/robote.jpg' ) }}" class="robot">
    </div>
    <aside class="nav-sidebar" >
        <!--
    <a href="../rien">CAll here!</a> a voir apres -->
    <div class="image-container">
        <div class="image">
            <img src="{{ url_for('static', filename='images/robot.gif' ) }}"class="logo">
        </div>
        <h5>I N E R T I A</h5>
        <p>I'm a Virtual Assistant how can i help you</p>
    </div>
    <div class="input">
        <button class="talk"> <i class="fas fa-microphone-alt"></i> </button>
        <h5 class="content">Click here to speak</h5>
    </div>
    </aside>
    
   
   <script src="{{ url_for('static', filename='js/menu.js') }}" defer></script>
   <script src="{{ url_for('static', filename='js/speech.js') }}" defer></script>
</section>

{%endblock%}
